.App{    
    width: 800px;
    margin: auto;
    padding: auto;    
}
.customModal{
    top: 50%;
    left: 50%;
    margin: auto;
    width: 400px;
    height: 350px;
    background-color: burlywood;
    text-align: center;    
}

